*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(59, 5, 109);
}

.maincontainer{
    display:flex;
    width:30rem;
    margin:auto;
    margin-top:15%;
    transform:translate(0,-15%);
    
}
#icon{
    display:inline-block;
    width:10rem;
    font-size:3rem;
    text-align:center;
    box-sizing: border-box;
    color:#fff;
}
.counter{
    font-size:4rem;
    color:rgb(216, 89, 5);
}
.size{
font-size:1rem;
}