*{
     padding:0;
     margin:0;
}

body{
    background-color:rgb(233, 233, 86);
}
.maincontainer{
    display:flex;
    align-items:center;
    margin:auto;
    width:30rem;
    margin-top:15%;
    transform:translate(0,-15%);
    background-color:rgb(168, 87, 243);
}
form{
    display:flex;
    align-items:center;
    padding:1rem;
    flex-direction:column;
    width:inherit;
}
form label{
    flex:1;
    display:block;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Zen Old Mincho', serif;
}
.decor{
    font-size:2rem;
}
form .box1{
    flex:1;
}
form input{
     display:inline-block; 
    width:10rem;
    padding:0.5rem;
    border:solid 1px #000;
} 
form select{
    display:inline-block;
    width:10rem;
    padding:0.5rem;
    border:solid 1px #000;
}
#black{
    background-color:#000;
    color:#fff;
}
#resCont{
    font-family: 'Zen Old Mincho', serif;
    font-size:2rem;
}