*{
    padding:0;
    margin:0;
}
body{
    background-color:rgb(221, 217, 217);
    overflow-y:scroll;
}
.nav{
    display:flex;
    background-color:rgb(214, 71, 190);
    letter-spacing: 0.1rem;
    padding:0.5rem;
    font-weight:600;
    color:#fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size:2rem;
}

.cont{
    display:flex;
    justify-content:right;
    padding-right:1rem;
    padding-top:0.5rem;
}
#arrow{
    display:block;
    padding:0.5rem;
    border-radius:1rem;
    background-color:rgb(214, 71, 190);
}
.writenote{
    display:block;
    padding:0.5rem;
    border-radius:1rem;
     transition:1s;
     width:8rem;
     background-color:none;
}
.writenote:hover{
    background-color:rgb(214, 71, 190);
}
.note{
    display: inline-block;
    box-sizing:border-box;
    padding:1rem;
    width:20rem;
    height:8rem;
    background-color:#fff;
    margin-left:1rem;
    margin-top:2rem;
    overflow-y:scroll;
    overflow-x:hidden;
}
.note-nav{
    display:flex;
    justify-content:right;
}
button{
    display:block;
    border-radius:50px;
    width:2rem;
    height:2rem;
    border:none;
    color:#fff;
}
#green{
    background-color:rgb(77, 190, 77);
}
#red{
    background-color:rgb(180, 5, 5);
}
#green:hover{
    background-color:#fff;
    color:#000;
}
#red:hover{
    background-color:#fff;
    color:#000;
}
.hidden{
    visibility:hidden;
}
textarea{
    border:none;
}